body{
    margin: 0;
    background-color: #f2f6ff;
    width: 100%;
	min-height: 100vh;
	height: 100%;
	padding-bottom: 50px;
}

#topbar{
    padding: 12px 80px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
}
#left-menu{
    display: flex;
}

#right-menu{
    display: flex;
    align-items: center;
}
#logo{
    color: #0086ff;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: 'Raleway',sans-serif;
    margin: 0;
    margin-right: 48px;
}

.menu-item{
    margin: 0;
    margin-right: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    padding-top: 18px;
}

#Info {
	margin-top: 180px;
}

#Info #container {
	width: 1166px;
	max-width: 95%;
	margin: 0 auto;
}
#Info h1 {
    font-size: 42px;
	font-weight: 700;
	line-height: 1.1;	
}

footer{
    margin-top: 120px;
}

footer #container{
    display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 1
}

footer #container h3{
    font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: black;
	margin-right: 70px;
    margin-left: 180px;
	position: relative;
}

footer .links{
    font-size: 17px;
	margin: 0px 8px;
	color: black;
}